/* HTML Styles ------------------------------------------------------------- */
.collection-item:hover {
    background-color: #ddd;
}

.plot {
    width: 100%;
    height: 320px;
}

.collection .collection-item.active {
    background-color: #1976D2; /* blue darken-2 */
}

#performance {
    height: 180px;
}

#portfolio {
    height: 145px;
    overflow-x: auto;
}

#warnings {
    margin-top: 100px; /* Where the warnings top should be */
    height: 200px;
}

#workspace {
    min-height: 420px;
    height: 450px;
}

.row {
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}

.etf-title {
    font-size: 20px;

}

.etf-info {
    font-size: 10px;
}

#warnings ul {
    width: 100%;
    padding: 10px;
}

#warnings li {
    text-align: left;
    background-color: #ffea00; /* yellow accent-2 */
    border: 1px solid #ffff8d; /* yellow accent-1 */
    border-radius: 5px;
    -moz-box-shadow:    2px 2px 3px 3px #ccc;
    -webkit-box-shadow: 2px 2px 3px 3px #ccc;
    box-shadow:         2px 2px 3px 3px #ccc;

    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}


/* SVG Styles -------------------------------------------------------------- */
.bar {
    fill: #b0bec5; /* blue-grey lighten-3 */
}

.bar:hover {
    fill: #ff5722; /* deep-orange */
}

/* Performance SVG Styles -------------------------------------------------- */
#performance-svg .line {
	fill: none;
	stroke: #000;
}

#etf-drawer {
    height: 100%;
    overflow-y: auto;
}

#portfolio-drawer {
    height: 100%;
    display: inline-flex;
}

.card {
    margin: 4px 4px 4px 4px;
    width: 120px;
    height: 120px;
    float: left;
}