/* HTML Styles ------------------------------------------------------------- */
.collection-item:hover {
    background-color: #ddd;
}

.plot {
    width: 100%;
    height: 320px;
}

.collection .collection-item.active {
    background-color: #1976D2; /* blue darken-2 */
}

#performance {
    height: 180px;
    margin-top: 20px;
}

#portfolio {
    height: 120px;
}

#warnings {
    min-width: 200px;
    min-height: 150px;
}

#workspace {
    margin-top: -30px;
    min-height: 420px;
}


/* SVG Styles -------------------------------------------------------------- */
.bar {
    fill: #b0bec5; /* blue-grey lighten-3 */
}

.bar:hover {
    fill: #ff5722; /* deep-orange */
}
